<section class="box-calender" id="calender">
    <h2>日時を選択</h2>

    <div class="box-pager">
        <div class="btn-prev">前の１週間</div>
      <div class="month"><span>4</span>月 / <span>5</span>月</div>
        <div class="btn-next"><a href="/reserve/quick/26076231?p=2#calender">次の１週間</a></div>
    </div>
    <table>
      <thead>
        <tr>
          <td class="time"></td>
                <th>28<span>水</span></th>
                <th class="holiday">29<span>木</span></th>
                <th>30<span>金</span></th>
                <th class="saturday">1<span>土</span></th>
                <th class="sunday">2<span>日</span></th>
                <th class="holiday">3<span>月</span></th>
                <th class="holiday">4<span>火</span></th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td class="time">09:00</td>
                <td class="ng">×</td>
                <td class="ng">×</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2009:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2009:00:00">◯</a></td>
                <td class="ng">×</td>
                <td class="ng">×</td>
            </tr>
            <tr>
                <td class="time">09:30</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2009:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2009:30:00">◯</a></td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
            </tr>
            <tr>
              <td class="time">10:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2010:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2010:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2010:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2010:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2010:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2010:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">10:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2010:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2010:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2010:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2010:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2010:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2010:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">11:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2011:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2011:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2011:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2011:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2011:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2011:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">11:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2011:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2011:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2011:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2011:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2011:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2011:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">12:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2012:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2012:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2012:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2012:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2012:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2012:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">12:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2012:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2012:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2012:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2012:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2012:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2012:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">13:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2013:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2013:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2013:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2013:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2013:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2013:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">13:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2013:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2013:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2013:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2013:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2013:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2013:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">14:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2014:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2014:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2014:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2014:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2014:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2014:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">14:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2014:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2014:30:00">◯</a></td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2014:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2014:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2014:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">15:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2015:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2015:00:00">◯</a></td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2015:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2015:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2015:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">15:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2015:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2015:30:00">◯</a></td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2015:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2015:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2015:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">16:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2016:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2016:00:00">◯</a></td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2016:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2016:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2016:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">16:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2016:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2016:30:00">◯</a></td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2016:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2016:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2016:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">17:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2017:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2017:00:00">◯</a></td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2017:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2017:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2017:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">17:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2017:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2017:30:00">◯</a></td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2017:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2017:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2017:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">18:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2018:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2018:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2018:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2018:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2018:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2018:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">18:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2018:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2018:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2018:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2018:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2018:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2018:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">19:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2019:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2019:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2019:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2019:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2019:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2019:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">19:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2019:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2019:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2019:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2019:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2019:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2019:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">20:00</td>
                <td class="ng">×</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2020:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2020:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2020:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2020:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2020:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2020:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">20:30</td>
                      <td class="ng">×</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2020:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2020:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2020:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2020:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2020:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2020:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">21:00</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-28%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2021:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2021:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">21:30</td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-28%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2021:30:00">◯</a></td>
                      <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2021:30:00">◯</a></td>
            </tr>
            <tr>
              <td class="time">22:00</td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-28%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-29%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-04-30%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-01%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-02%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-03%2022:00:00">◯</a></td>
                <td class="ok"><a href="/reserve/26076231?datetime=2021-05-04%2022:00:00">◯</a></td>
            </tr>
            <tr>
                <td class="time">22:30</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
                      <td class="ng">×</td>
            </tr>
      </tbody>
    </table>
  </section>