<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to 'trico 管理画面', 'owners_path',class:"owner-nav" %>
    <ul class='lists-right'>
      <% if owner_signed_in?%>
      <li><%= link_to current_owner.salon_name, "#", class: "user-nickname" %></li> 
      <li><%= link_to 'ログアウト', destroy_owner_session_path, method: :delete, class: "logout" %></li> 
      <% end %>
    </ul>
  </div>
  <div class='user-nav'>
    
  </div>
</header>