  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">trico</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">About us</a>
        <a class="nav-link" href="#">contact</a>
      </nav>
    </div>
  </header>
