<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= render "shared/header" %>

<main class="px-3">
  <div class="main-content">
    <div>
    <%= link_to new_user_registration_path do%>
    <button type="button" class="btn btn-light btn-lg">Users</button>
    <% end %>
    
    <%= link_to new_owner_registration_path do%>
    <button type="button" class="btn btn-primary btn-lg">Owners</button>
    <% end %>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
</div>