<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= render "shared/header" %>

<main class="px-3">
  <div class="main-content">
    <h1><%= link_to "you wanna booking?", choose_index_salons_path, class: "main-word" %></h1> 
  </div>
</main>
<%= render "shared/footer" %>
</div>

