.select-reason-contents1{
  padding: 5vh 15vw;
  background-color: #d3d3be;
}

.select-reason-contents1>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents1>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: maroon;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.hair-list{
  width: 150px;
}

.reason-list-number1 {
  width: 60px;
  height: 60px;
  font-size: 15px;
  text-align: center;
  line-height: 60px;
  color: rosybrown;
  font-family: serif;
  font-weight: bold;
}